addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
addi t1 t1 #1
muli t2 zero #1
addi t3 zero #1
muli t4 zero #1
add t5 t1 t2
add t5 t5 t3
add t5 t5 t4
st t5 t1 #0
