addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0
addi ra zero #0
muli sp zero #0
addi gp zero #0
muli tp zero #0
addi t0 zero #0
muli t1 zero #0
addi t2 zero #0
muli t3 zero #0
addi t4 zero #0
muli t5 zero #0
addi t6 zero #0
muli s0 zero #0
muli s1 zero #0
muli s2 zero #0
muli s3 zero #0
muli s4 zero #0
addi s5 zero #0
muli s6 zero #0
addi s7 zero #0
muli s8 zero #0
addi s9 zero #0
muli s10 zero #0
addi s11 zero #0
addi a0 zero #0
muli a1 zero #0
addi a2 zero #0
addi a3 zero #0
muli a4 zero #0
addi a5 zero #0
addi a6 zero #0
st a7 zero #0