        addi s0 zero #0
        addi s1 zero #-99
        sti s1 s0 #1
        sti s1 s0 #1
        sti s1 s0 #1
        sti s1 s0 #1
        sti s1 s0 #1
        sti s1 s0 #1
        sti s1 s0 #1
        sti s1 s0 #1
        sti s1 s0 #1